# -*- mode: bash -*-
# vi: set ft=bash :

fish_vi_key_bindings
fish_add_path ~/.local/bin
set EDITOR micro
set BAT_THEME {{ util_themes.bat }}
alias top=bpytop
alias nano=micro
alias ls="lsd -al"
alias cat="bat --plain"
alias fd=fd-find
alias find=fd-find
set -g theme_nerd_fonts yes
set -g theme_display_user no
set -g theme_display_hostname no
set -g theme_display_vi no
set -g theme_color_scheme {{ util_themes.fish_subtheme }}